openapi: 3.1.0
info:
  title: lev8 API
  version: "1.0"
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://app.lev8.com
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      x-default: "lev8_live_..."
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        object:
          type: string
          const: error
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            param:
              type:
                - string
                - "null"
            request_id:
              type:
                - string
                - "null"
    EntitySearchCreateTaskRequest:
      type: object
      required:
        - entity_type
        - objective
      properties:
        entity_type:
          type: string
          enum:
            - person
            - company
            - twitter_creator
            - youtube_creator
            - tiktok_creator
            - instagram_creator
            - shopify_store
          x-default: "company"
          example: company
        objective:
          type: string
          x-default: "AI startups that raised Series A in 2024"
          example: "AI startups that raised Series A in 2024"
        limit:
          type: integer
          default: 20
          x-default: 20
          example: 20
        enable_web_search:
          type: boolean
          default: false
          x-default: false
          example: false
        enrich_fields:
          type:
            - array
            - "null"
          items:
            type: string
          x-default:
            - funding stage
            - headcount
          example:
            - funding stage
            - headcount
        dedup_lev8_leads:
          type: array
          items:
            type: string
          x-default: []
          example: []
        dedup_custom_leads:
          type: array
          items:
            type: string
          x-default: []
          example: []
    EntitySearchTask:
      type: object
      properties:
        object:
          type: string
          const: entity_search_task
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        entity_type:
          type: string
          example: company
        objective:
          type: string
          example: AI startups that raised Series A in 2024
        limit:
          type: integer
          example: 20
        status:
          type: string
          example: created
        created_at:
          type: string
          format: date-time
          example: "2026-08-04T00:00:00Z"
    EntitySearchStatus:
      type: object
      properties:
        object:
          type: string
          const: entity_search_status
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        meta:
          type: object
          properties:
            entity_type:
              type: string
              example: company
            objective:
              type: string
              example: AI startups that raised Series A in 2024
            limit:
              type: integer
              example: 20
        status:
          type: object
          properties:
            status:
              type: string
              enum:
                - created
                - running
                - done
                - error
              example: running
            verified_count:
              type: integer
              example: 12
            ready_count:
              type: integer
              example: 10
            stop_reason:
              type:
                - string
                - "null"
              example: null
        error:
          type:
            - object
            - "null"
        created_at:
          type: string
          format: date-time
          example: "2026-08-04T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-08-04T00:00:08Z"
    EntitySearchItems:
      type: object
      properties:
        object:
          type: string
          const: entity_search_items
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        status:
          type: string
          example: running
        pts:
          type: integer
          example: 0
        num:
          type: integer
          example: 5
        count:
          type: integer
          example: 5
        ready_count:
          type: integer
          example: 10
        limit:
          type: integer
          example: 20
        entities:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: Figure AI
              links:
                type: object
                additionalProperties:
                  type: string
                example:
                  website: https://www.figure.ai
                  linkedin_url: https://www.linkedin.com/company/figure-ai
              description:
                type:
                  - string
                  - "null"
                example: AI robotics company building general purpose humanoid robots.
              score:
                type: object
                properties:
                  score:
                    type: string
                    example: high
                  reason:
                    type: string
                    example: "..."
              enrich_fields:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    content:
                      type: string
                    reference:
                      type: string
                example:
                  funding stage:
                    content: Series B
                    reference: "..."
        created_at:
          type: string
          format: date-time
          example: "2026-08-04T00:00:05Z"
    ContactSearchRequest:
      type: object
      required:
        - contact_type
        - objective
      properties:
        contact_type:
          type: string
          enum:
            - email
            - phone
          x-default: "email"
          example: email
        objective:
          type: string
          x-default: "Find the work email of Maggie Hoi Ning Leung, Founder & Director at Pharos Consultancy Limited. Owner signals: linkedin_url=https://www.linkedin.com/in/maggie-hoi-ning-leung-a3bb2997"
          example: "Find the work email of Maggie Hoi Ning Leung, Founder & Director at Pharos Consultancy Limited. Owner signals: linkedin_url=https://www.linkedin.com/in/maggie-hoi-ning-leung-a3bb2997"
    ContactSearchResult:
      type: object
      properties:
        object:
          type: string
          const: contact_search_result
        request:
          $ref: "#/components/schemas/ContactSearchRequest"
        result:
          type: object
          properties:
            content:
              type:
                - string
                - "null"
              example: maggie@example.com
            reference:
              type:
                - string
                - "null"
              example: "..."
        created_at:
          type: string
          format: date-time
          example: "2026-07-29T00:00:00Z"
    CreditBalance:
      type: object
      properties:
        object:
          type: string
          const: credit_balance
        available_credits:
          type: integer
          example: 125
        updated_at:
          type: string
          example: "2026-08-03 17:30:00"
        next_credit_refresh_at:
          type: string
          example: "2026-09-03 17:30:00"
security:
  - ApiKeyAuth: []
paths:
  /v1/entity-search/create_task:
    post:
      summary: Create task
      description: Create an asynchronous Entity Search task.
      operationId: createEntitySearchTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntitySearchCreateTaskRequest"
            example:
              entity_type: company
              objective: AI startups that raised Series A in 2024
              limit: 20
              enable_web_search: false
              enrich_fields:
                - funding stage
                - headcount
              dedup_lev8_leads: []
              dedup_custom_leads: []
      responses:
        "200":
          description: Task created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchTask"
        "400":
          description: Malformed JSON.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid API key.
        "422":
          description: Validation failed.
        "500":
          description: Server error.
  /v1/entity-search/status:
    get:
      summary: Get status
      description: Check Entity Search task progress and readable result count.
      operationId: getEntitySearchStatus
      parameters:
        - name: leads_search_id
          in: query
          required: true
          schema:
            type: string
            x-default: leads_search_01JABCDEF123456789
          example: leads_search_01JABCDEF123456789
      responses:
        "200":
          description: Task status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchStatus"
        "401":
          description: Missing or invalid API key.
        "404":
          description: Task not found or expired.
        "500":
          description: Server error.
  /v1/entity-search/fetch:
    get:
      summary: Fetch results
      description: Read available Entity Search results by position.
      operationId: fetchEntitySearchResults
      parameters:
        - name: leads_search_id
          in: query
          required: true
          schema:
            type: string
            x-default: leads_search_01JABCDEF123456789
          example: leads_search_01JABCDEF123456789
        - name: pts
          in: query
          required: false
          schema:
            type: integer
            default: 0
            x-default: 0
          example: 0
        - name: num
          in: query
          required: false
          schema:
            type: integer
            default: 5
            x-default: 5
          example: 5
      responses:
        "200":
          description: Current result items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchItems"
        "401":
          description: Missing or invalid API key.
        "404":
          description: Task not found or expired.
        "416":
          description: pts is outside the currently readable range.
        "500":
          description: Server error.
  /v1/contact-search:
    post:
      summary: Search contact
      description: Find an email address or phone number for one contact.
      operationId: contactSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactSearchRequest"
            example:
              contact_type: email
              objective: "Find the work email of Maggie Hoi Ning Leung, Founder & Director at Pharos Consultancy Limited. Owner signals: linkedin_url=https://www.linkedin.com/in/maggie-hoi-ning-leung-a3bb2997"
      responses:
        "200":
          description: Contact search result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactSearchResult"
        "401":
          description: Missing or invalid API key.
        "422":
          description: Validation failed.
        "500":
          description: Server error.
  /v1/credit/balance:
    get:
      summary: Get balance
      description: Query available credits for the billing account attached to an API key.
      operationId: getCreditBalance
      responses:
        "200":
          description: Credit balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditBalance"
        "401":
          description: Missing or invalid API key.
        "403":
          description: API key is revoked or expired.
        "500":
          description: Server error.
