openapi: 3.1.0
info:
  title: lev8 API
  version: "1.0"
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://app.lev8.com
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      x-default: "lev8_live_..."
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        object:
          type: string
          const: error
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            param:
              type:
                - string
                - "null"
            request_id:
              type:
                - string
                - "null"
    EntitySearchCreateTaskRequest:
      type: object
      additionalProperties: false
      required:
        - entity_type
        - objective
      properties:
        entity_type:
          type: string
          enum:
            - person
            - company
            - twitter_creator
            - youtube_creator
            - tiktok_creator
            - instagram_creator
            - shopify_store
          x-default: "company"
          example: company
        objective:
          type: string
          minLength: 1
          description: Natural-language objective, at most 4,000 UTF-8 bytes after trimming.
          x-default: "AI startups that raised Series A in 2024"
          example: "AI startups that raised Series A in 2024"
        limit:
          type: integer
          minimum: 1
          maximum: 500
          default: 20
          x-default: 20
          example: 20
        enable_web_search:
          type: boolean
          default: false
          x-default: false
          example: false
        enrich_fields:
          type:
            - array
            - "null"
          description: Extra fields to return under `entities[].enrich_fields`, up to 20 items. Use this for descriptive attributes such as funding stage or headcount. It is not suitable for finding email addresses or phone numbers; use Contact Search for contact details.
          items:
            type: string
          maxItems: 20
          x-default:
            - funding stage
            - headcount
          example:
            - funding stage
            - headcount
        dedup_lev8_leads:
          type: array
          maxItems: 100
          items:
            type: string
          x-default: []
          example: []
        dedup_custom_leads:
          type: array
          maxItems: 1000
          items:
            type: string
          x-default: []
          example: []
    EntitySearchTask:
      type: object
      properties:
        object:
          type: string
          const: entity_search_task
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        entity_type:
          type: string
          example: company
        objective:
          type: string
          example: AI startups that raised Series A in 2024
        limit:
          type: integer
          example: 20
        status:
          type: string
          example: created
        created_at:
          type: string
          format: date-time
          example: "2026-08-04T00:00:00Z"
    EntitySearchStatus:
      type: object
      properties:
        object:
          type: string
          const: entity_search_status
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        status:
          type: object
          properties:
            status:
              type: string
              enum:
                - created
                - running
                - done
                - error
              example: running
            verified_count:
              type: integer
              minimum: 0
              example: 12
            ready_count:
              type: integer
              minimum: 0
              example: 10
            stop_reason:
              type: string
              example: source_finished
            error:
              type: string
              const: internal error
    EntitySearchItems:
      type: object
      properties:
        object:
          type: string
          const: entity_search_items
        leads_search_id:
          type: string
          example: leads_search_01JABCDEF123456789
        status:
          type: string
          example: running
        pts:
          type: integer
          example: 0
        num:
          type: integer
          example: 5
        count:
          type: integer
          example: 5
        ready_count:
          type: integer
          example: 10
        limit:
          type: integer
          example: 20
        entities:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: Figure AI
              links:
                type: object
                additionalProperties:
                  type: string
                example:
                  website: https://www.figure.ai
                  linkedin_url: https://www.linkedin.com/company/figure-ai
              description:
                type:
                  - string
                  - "null"
                example: AI robotics company building general purpose humanoid robots.
              score:
                type: object
                properties:
                  score:
                    type: string
                    example: high
                  reason:
                    type: string
                    example: "..."
              enrich_fields:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    content:
                      type: string
                    reference:
                      type: string
                example:
                  funding stage:
                    content: Series B
                    reference: "..."
    ContactSearchRequest:
      type: object
      additionalProperties: false
      required:
        - contact_type
        - objective
      properties:
        contact_type:
          type: string
          enum:
            - email
            - phone
          x-default: "email"
          example: email
        objective:
          type: string
          minLength: 1
          maxLength: 4000
          x-default: "Find the work email of Jane Smith, VP of Engineering at Acme Corp. Owner signals: linkedin_url=https://www.linkedin.com/in/jane-smith-acme"
          example: "Find the work email of Jane Smith, VP of Engineering at Acme Corp. Owner signals: linkedin_url=https://www.linkedin.com/in/jane-smith-acme"
    ContactSearchResult:
      type: object
      properties:
        object:
          type: string
          const: contact_search_result
        request:
          $ref: "#/components/schemas/ContactSearchRequest"
        result:
          type: object
          properties:
            content:
              type:
                - string
                - "null"
              example: jane.smith@acmecorp.com
            reference:
              type:
                - string
                - "null"
              example: "..."
        created_at:
          type: string
          format: date-time
          example: "2026-07-29T00:00:00Z"
    CreditBalance:
      type: object
      properties:
        object:
          type: string
          const: credit_balance
        available_credits:
          type: integer
          example: 125
        updated_at:
          type: string
          example: "2026-08-03 17:30:00"
        next_credit_refresh_at:
          type: string
          example: "2026-09-03 17:30:00"
security:
  - ApiKeyAuth: []
paths:
  /v1/entity-search/create_task:
    post:
      summary: Create task
      description: Create an asynchronous Entity Search task.
      operationId: createEntitySearchTask
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Optional stable key for this logical task. When omitted, lev8 generates one and returns it in the response Header.
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntitySearchCreateTaskRequest"
            example:
              entity_type: company
              objective: AI startups that raised Series A in 2024
              limit: 20
              enable_web_search: false
              enrich_fields:
                - funding stage
                - headcount
              dedup_lev8_leads: []
              dedup_custom_leads: []
      responses:
        "200":
          description: Task created.
          headers:
            Idempotency-Key:
              description: The supplied or server-generated idempotency key.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchTask"
        "401":
          description: Missing or invalid API key.
        "402":
          description: Insufficient credits.
        "403":
          description: API key is forbidden or lacks Entity Search access.
        "409":
          description: Idempotency conflict, unresolved task creation, or an expired replay window.
        "422":
          description: Validation failed.
        "429":
          description: Active-task concurrency limit reached.
        "500":
          description: Server error.
        "503":
          description: Entity Search or pricing is not enabled.
  /v1/entity-search/status:
    get:
      summary: Get status
      description: Check Entity Search task progress and readable result count.
      operationId: getEntitySearchStatus
      parameters:
        - name: leads_search_id
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 128
            x-default: leads_search_01JABCDEF123456789
          example: leads_search_01JABCDEF123456789
      responses:
        "200":
          description: Task status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchStatus"
        "401":
          description: Missing or invalid API key.
        "403":
          description: API key is forbidden or lacks Entity Search access.
        "404":
          description: Task not found or belongs to another API key.
        "422":
          description: Query validation failed.
        "500":
          description: Server error.
        "503":
          description: Entity Search is not enabled.
  /v1/entity-search/fetch:
    get:
      summary: Fetch results
      description: Read available Entity Search results by position.
      operationId: fetchEntitySearchResults
      parameters:
        - name: leads_search_id
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            x-default: leads_search_01JABCDEF123456789
          example: leads_search_01JABCDEF123456789
        - name: pts
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            x-default: 0
          example: 0
        - name: num
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 5
            x-default: 5
          example: 5
      responses:
        "200":
          description: Current result items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitySearchItems"
        "401":
          description: Missing or invalid API key.
        "403":
          description: API key is forbidden or lacks Entity Search access.
        "404":
          description: Task not found or belongs to another API key.
        "422":
          description: Query validation failed.
        "500":
          description: Server error.
        "503":
          description: Entity Search is not enabled.
  /v1/contact-search:
    post:
      summary: Search contact
      description: Find an email address or phone number for one contact.
      operationId: contactSearch
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Optional stable key for this logical lookup. When omitted, lev8 generates one and returns it in the response Header.
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactSearchRequest"
            example:
              contact_type: email
              objective: "Find the work email of Jane Smith, VP of Engineering at Acme Corp. Owner signals: linkedin_url=https://www.linkedin.com/in/jane-smith-acme"
      responses:
        "200":
          description: Contact search result.
          headers:
            Idempotency-Key:
              description: The supplied or server-generated idempotency key.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactSearchResult"
        "401":
          description: Missing or invalid API key.
        "402":
          description: Insufficient credits.
        "403":
          description: API key is forbidden or lacks Contact Search access.
        "409":
          description: Idempotency conflict or no completed response is available to replay.
        "422":
          description: Validation failed.
        "429":
          description: Concurrency limit reached.
        "500":
          description: Server error.
        "503":
          description: Contact Search or pricing is not enabled.
  /v1/credit/balance:
    get:
      summary: Get balance
      description: Query available credits for the billing account attached to an API key.
      operationId: getCreditBalance
      responses:
        "200":
          description: Credit balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditBalance"
        "401":
          description: Missing or invalid API key.
        "403":
          description: API key is revoked or expired.
        "500":
          description: Server error.
        "503":
          description: API is not enabled.
